@import "./App.scss";
.search {
    @include flex(row, center, center);

    &__input {
        outline: none;
        box-shadow: none;
        width: 19rem;
        padding: 0.4rem;
        margin: 0.6rem;
        font-size: 1rem;
        border-image-source: linear-gradient(to right, #01a2ff, #3501ff);
        border-width: 2px;
        border-image-slice: 1;
        background: rgb(239, 240, 243);
    }

    &__btn {
        min-width: 6rem;
        padding: 0.5rem;
        margin: 0.6rem;
        font-size: 1rem;
        background-image: linear-gradient(to right, #0151ffe1, #011affb7);
        color: white;
        border: none;
        border-radius: 3px;
        &:focus {
            outline: none;
        }
    }
}
@media only screen and (max-width: 600px) {
    .search {
        @include flex(column, center, center);

        &__input {
            width: 85vw;
        }
    }
}
